body{
    background-color: #333333;
    margin: 0;
    height: 100vh;
}

body > .content {
    height: calc(100% - 230px); /*С баннером 320*/
}

body > .content #map {
    height: 100%;
}

a{
    color: #f67a14;
    text-decoration: none;
    outline: none;
}

/*------------------------Header styles-----------------------*/
.header {
    display: grid;
    grid-template-columns: 200px auto 500px;
    padding: 10px 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    height: 80px;
    align-items: center;
    border-bottom: solid 1px #535353;
}
.header .mobile{
    display: none;
}
.header .title_wrap{
    justify-self: center;
    text-align: center;
}
.header .title{
    font-family: Roboto Slab, 'sans-serif';
    color: #f67a14;
    font-size: 26px;
    font-weight: 800;
}
.header .sub_title {
    color: #535353;
    font-weight: 700;
    font-size: 18px;
}
/*--------------Filter--------------------*/
.search_area {
    display: flex;
    justify-self: right;
}
.search_area.desktop {
    padding-bottom: 5px;
    border-bottom: solid 1px #b1b1b1;
}
.search_area .search_wrap{
    justify-self: right;
    position: relative;
    min-width: 170px;
    margin-right: 10px;
}

.search_area .search_button {
    background-color: white;
    color: #f67a14;
    text-transform: uppercase;
    font-family: Roboto, 'sans-serif';
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 2px #f67a14;
    transition: 0.4s;
    border-radius: 2px;
    padding: 0 5px;
}

.search_area .search_button .content i{
    display: none;
}
.search_area .search_button .content p{
    font-weight: 700;
}
.search_area .search_button .fa-angle-down{
    margin-right: 6px;
    transform: rotate(180deg);
    transition: 0.4s;
}
.search_area .search_wrap .search_list{
    position: absolute;
    background-color: white;
    width: 100%;
    font-family: Roboto, 'sans-serif';
    color: #333333;
    display: none;
}
.search_area .search_wrap.opened .search_list{
    display: flex;
    flex-direction: column;
    z-index: 10000;
    overflow-y: scroll;
    max-height: 70vh;
}
.search_area .search_wrap .search_list .item{
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: solid 1px #b1b1b1;
    font-size: 14px;
}
.search_area .search_wrap .search_list .item.subitem {
    font-weight: 400;
    font-size: 13px;
    padding-left: 25px;
    background-color: #b1b1b142;
}
.search_area .search_wrap .search_list .item p{
    margin: 0;
}
.search_area .search_wrap .search_list .item i{
    margin-right: 6px;
}
.search_area .search_wrap .search_list .item:hover{
    background-color: #f67a14;
    color: white;
}
.search_area .search_wrap.opened .search_button .fa-angle-down{
    transform: rotate(0);
    transition: 0.4s;
}
.search_area .search_wrap .item.chosen,
.search_area .search_wrap .item.subitem.chosen{
    color: white;
    background-color: #f67a14;
}
.fontanka-button.submit_search{
    margin-left: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 40px;
}
.fontanka-button.submit_search svg {
    height: 25px;
    width: 25px;
    fill: white;
    transition: 0.4s;
}
.fontanka-button.submit_search:hover svg{
    fill: #f67a14;
}
.search_area.mobile{
    display: none;
}
.mobile_filter_modal.modal.show .search_area {
    background-color: white;
    padding: 30px 50px;
    height: 50vh;
    border-radius: 0 0 7px 7px;
}
/*---------------------------Header-adaptive--------------------------------*/
@media screen and (max-width: 1300px){
    .search_area.mobile{
        display: flex;
        align-items: center;
    }
    .search_area.mobile .search_button{
        padding: 0 40px;
    }
    .search_area.desktop{
        display: none;
    }
    .header{
        grid-template-columns: 200px auto 200px;
    }
    .search_area .search_wrap.opened .search_list{
        max-height: 35vh;
        -webkit-box-shadow: 0 3px 5px 0 rgba(177,177,177,1);
        -moz-box-shadow: 0 3px 5px 0 rgba(177,177,177,1);
        box-shadow: 0 3px 5px 0 rgba(177,177,177,1);
    }
}
@media screen and (max-width: 1000px){
    .header .title{
        font-size: 24px;
    }
}
@media screen and (max-width: 930px){
    .header{
        padding: 0 30px;
        align-items: center;
        grid-template-columns: 90px auto 170px;
    }
    .header .desktop{
        display: none;
    }
    .header .mobile{
        display: flex;
        height: 70px;
    }
}
@media screen and (max-width: 750px){
    .header .sub_title{
        display: none;
    }
}
@media screen and (max-width: 630px){
    .header{
        padding: 0 20px;
        grid-template-columns: 90px auto 70px;
    }
    /*.header .search_button .content i{*/
    /*    display: flex;*/
    /*}*/
    /*.header .search_button .content p{*/
    /*    display: none;*/
    /*}*/
    /*.header .search_wrap{*/
    /*    width: 70px;*/
    /*}*/
    /*.header .search_wrap .search_list .item p{*/
    /*    display: none;*/
    /*}*/
    /*.header .search_wrap .search_list .item{*/
    /*    justify-content: center;*/
    /*}*/
    /*.header .search_wrap .search_list .item i{*/
    /*    margin-right: 0;*/
    /*}*/
    .search_area.mobile .search_button{
        padding: 0 20px;
    }
}
@media screen and (max-width: 480px){
    .header .title{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .mobile_filter_modal.modal.show .search_area{
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    .mobile_filter_modal.modal.show .search_area .search_wrap{
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/*----------------------------Buttons--------------------------------*/
.fontanka-button{
    background-color: #f67a14;
    color: white;
    font-family: Roboto Slab, 'sans-serif';
    padding: 8px 40px;
    cursor: pointer;
    border: solid 2px transparent;
    text-transform: uppercase;
    transition: 0.4s;
    margin-left: 20px;
    border-radius: 2px;
}
.fontanka-button:hover{
    color: #f67a14;
    background-color: white;
    transition: 0.4s;
    border: solid 2px #f67a14;
}
/*---------------------------Footer--------------------------------*/
footer {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    font-family: Roboto, 'sans-serif';
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 150px; /*С баннером 240*/
    box-sizing: border-box;
    border-top: solid 1px #535353;
}
.footer_wrap {
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 20px;
    padding: 20px 50px 10px;
}
footer .marketing_block .logo i{
    display: none;
}
footer .marketing_block .marketing_button{
    display: none;
}
.marketing_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.marketing_block .logo a{
    margin-right: 30px;
    outline: none;
}
.marketing_block img {
    max-height: 70px;
    width: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.4s;
}
.marketing_block a:hover img{
    filter: grayscale(0);
    transition: 0.4s;
}
.marketing_block .phone {
    color: #333;
}
.marketing_block .phone p{
    margin: 0;
}
.marketing_block .phone a{
    outline: none;
    text-decoration: none;
    color: #f67a14;
}
.marketing_block .phone {
    color: #333;
    padding-top: 10px;
    border-top: dotted 2px #b1b1b1;
    font-size: 14px;
}
footer .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .buttons_wrap {
    display: flex;
    margin-bottom: 20px;
}
footer .buttons_wrap .fontanka-button i{
    display: none;
}
footer .buttons_wrap .fontanka-button p{
    margin: 0;
}

footer .social_media {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
footer .social_media .title{
    margin-right: 10px;
    color: #333333;
    font-family: Roboto Slab, 'sans-serif';
}
footer .social_media  .ya-share2.ya-share2_inited a span {
    background-color: #b1b1b1;
    border-radius: 2px;
    transition: 0.4s;
}
footer .social_media  .ya-share2.ya-share2_inited a span:hover{
    background-color: #f67a14;
    transition: 0.4s;
}
footer .copyright {
    font-size: 12px;
    color: #b1b1b1;
    text-align: right;
}
/*footer .list_row {*/
/*    padding: 0 50px;*/
/*    height: 100px;*/
/*}*/

@media screen and (max-width: 1300px){
    .fontanka-button{
        font-size: 14px;
        padding: 8px 20px;
    }
}
@media screen and (max-width: 1100px) {
    .marketing_block img{
        max-height: 50px;
    }
}
@media screen and (max-width: 990px){
    footer  .buttons_wrap{
        margin-bottom: 0;
    }
    footer .buttons_wrap .fontanka-button{
        font-size: 12px;
        margin-bottom: 10px;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .social_media .title{
        display: none;
    }
}
@media screen and (max-width: 850px){
    .footer_wrap{
        grid-template-columns: 150px auto;
        padding: 20px 20px 10px;
    }
    /*footer .marketing_block .marketing_button{*/
    /*    display: flex;*/
    /*}*/
    footer .buttons_wrap .fontanka-button p{
        display: none;
    }
    footer .buttons_wrap .fontanka-button i{
        display: block;
    }
    .marketing_block .phone p{
        display: none;
    }
    /*footer .marketing_block .logo{*/
    /*    display: none;*/
    /*}*/
    footer .marketing_block .logo.show {
        display: flex;
        position: absolute;
        background-color: white;
        z-index: 1100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer .marketing_block .logo.show i{
        color: #f67a14;
        display: block;
    }

    .marketing_block .phone{
        border: none;
    }
    .marketing_button {
        cursor: pointer;
        border: solid 2px #b1b1b1;
        color: #b1b1b1;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
    }
    footer .buttons_wrap{
        flex-direction: row;
    }
    footer .buttons_wrap .fontanka-button{
        margin-left: 10px;
    }
    footer .social_media{
        margin-bottom: 30px;
    }
    footer .copyright {
        position: absolute;
        bottom: 5px;
        width: 100%;
    }
}

/*--------------------------------------Modal area-----------------------------------------*/
.modal_background {
    position: fixed;
    z-index: 10000;
    background-color: #000000a6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal_background.show{
    display: flex;
}
.modal_background .about_modal{
    background-color: white;
    border-radius: 7px;
    max-width: 600px;
}
.modal_background .modal{
    display: none;
}
.modal_background .modal.show{
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow: auto;
}
.modal_background .header_modal {
    background-color: #f67a14;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 7px 7px 0 0;
    font-family: Roboto Slab, 'sans-serif';
    font-size: 24px;
}
.modal_background .about_modal .text {
    padding: 20px 30px 30px;
    color: #333;
    font-family: Roboto, 'sans-serif';
    font-size: 15px;
}
.modal_background .about_modal .fontanka-button {
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
}
.header_modal i {
    cursor: pointer;
}
/*----------------------------------Content-----------------------------------*/
.content_button_wrap {
    position: absolute;
    top: 90px;
}
