
.place_card_cont{
    overflow: hidden;
}
.place_card_cont h1 {
    margin: 10px 0;
}
.place_card_cont .section-infobox-content {
    margin: 1.5vh 0 0 0;
    text-align: justify;
    overflow-y: auto;
    padding: 30px;
    font-family: Roboto,'sans-serif';
    font-size: 17px;
    line-height: 24px;
    color: #333333;
}
.infobox-desc img {
    object-fit: contain;
    max-width: 100%;
}

.place_card_cont .section-infobox-wrapper {
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex!important;
    flex-direction: column!important;
}
.place_card_cont .section-infobox-header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #f67a14;
    padding: 10px 30px;
    border-radius: 15px 15px 0 0;
    font-family: Roboto Slab, 'sans-serif';
    align-items: flex-start;
}
.section-infobox-header button {
    border: none;
    background: none;
    margin: 10px 0 10px 10px
}
.section-infobox-header button i{
    color: white;
}
.infobox-desc fieldset {
    margin-bottom: 20px;
}
.infobox-desc legend {
    font-weight: 700;
    color: #5d5d5d;
}

.section-infobox-wrapper{
    max-height: 90vh;
    width: 50vw;
}
.section-infobox-wrapper a{
    color: #f67a14;
    text-decoration: none;
    outline: none;
}
.section-infobox-wrapper .footer {
    font-size: 12px;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
    box-shadow: -1px -3px 3px -1px rgba(51,51,51,0.63);
    color: #b1b1b1;
    cursor: default;
}
.infobox-site {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.place_card_cont .section-infobox-content strong {
    margin-right: 10px;
    color: #5d5d5d;
}

/*------------------Adaptive------------------------*/
@media screen and (max-width: 900px) {
    .place_card_cont .section-infobox-wrapper{
        margin: 10px;
    }
    .section-infobox-wrapper{
        width: 90vw;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 500px){
    .section-infobox-content{
        font-size: 14px;
        line-height: 20px;
    }
    .place_card_cont h1 {
        font-size: 20px;
    }
}

